<div class="header">
	<h3 class="text-muted">IHU Challenge</h3>
</div>

<div class="jumbotron">
	<div ng-controller="MainCtrl">
		<p class="message" title="Click Me!" ng-show="layout == 'welcome'" ng-click="layout = setMessage()">{{greetingMessage}}</p>
		<p class="message" ng-show="layout == 'farewell'">{{greetingMessage}}</p>
		<!-- <themessage></themessage> -->
<!-- <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
<a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a> -->
	</div>
</div>

<div class="row marketing">

</div>

<div class="footer">
</div>